.btn{
    padding: 15px;
    height: fit-content;
    width: 85px;
    margin: 5px;
    font-size: small;
    background-color: #FFBA93;
    border-radius: 5px;
    border: none;
}
@media screen and (max-width: 400px) {
    .btn{
        padding: 7px;
        width: 75px;
        margin: 2.5px;
    }
}